@use "../../../styles/mixins" as mixins;

.ui-checkbox-container {
  @include mixins.flex(column, center, start);
  margin-bottom: var(--ui-spacing-md);
}

.ui-checkbox-label {
  @include mixins.flex(row, center, center);
  cursor: pointer;
}

.ui-checkbox {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-right: var(--ui-spacing-md);
  background-color: var(--ui-gray-50);
  cursor: pointer;

  @include mixins.border(var(--ui-border-color), var(--ui-border-width-thin));
  border-radius: var(--ui-border-radius-sm);
  
  &:checked {
    background-color: var(--ui-primary);
    border-color: var(--ui-primary);
    @include mixins.transition(background-color, 0.3s, ease);
    
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      width: 45%;
      height: 80%;
      @include mixins.border-bottom(white, var(--ui-border-width-thick));
      @include mixins.border-right(white, var(--ui-border-width-thick));
    }
  }
  
  &--small {
    width: var(--ui-checkbox-size-small);
    height: var(--ui-checkbox-size-small);

    & ~ .ui-checkbox-text {
      font-size: var(--ui-font-size-xs);
    }
  }
  
  &--medium {
    width: var(--ui-checkbox-size-medium);
    height: var(--ui-checkbox-size-medium);

    & ~ .ui-checkbox-text {
      font-size: var(--ui-font-size-sm);
    }
  }
  
  &--large {
    width: var(--ui-checkbox-size-large);
    height: var(--ui-checkbox-size-large);

    & ~ .ui-checkbox-text {
      font-size: var(--ui-font-size-md);
    }
  }
  
  &--disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
  
  &--error {
    border-color: var(--ui-error);
  }
}

.ui-checkbox-text {
  font-size: var(--ui-font-size-sm);
}

.ui-checkbox__error-message {
  @include mixins.flex(column, start, start);
  color: var(--ui-error);
  font-size: var(--ui-font-size-sm);
  margin-top: var(--ui-spacing-xs);
}

.ui-checkbox__helper-text {
  color: var(--ui-text-color);
  font-size: var(--ui-font-size-sm);
  margin-top: var(--ui-spacing-xs);
}